<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>

 <h1>Read the Unique Phrase  after Pressing Record and you have 7 seconds</h1>
 <h1>{{ forward_message }} </h1>
  <div id="controls">
    <form action="/Vrecord/" method="post">
   <button id="recordButton" type="submit">Record</button>
    </form>

    <form action="/Vupload/" method="post">
   <button id="uploadButton" type="submit">Upload</button>
    </form>



{#    <form action="/stoprecord/" method="post">#}
{#   <button id="stopButton" type="submit">Stop</button>#}
{#    </form>#}



  </div>

  <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->

 </body>
</html>
